{% extends 'layout.html' %}

{% block body %}

<!-- Este html, es una prueba -->

<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/update-contact/" method="POST">
            
            <div class="form-group">
                <input type="text" name="id" placeholder="Id" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">
                    Save
                </button>
            </div>
            
            
        
        </form>
    </div>
</div>

{% endblock %}